* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-dark500: #000;
  --background-dark400: rgba(0, 0, 0, 0.315);
  --dark-blue: #141c52;
  --font-white: #fff;

  --text-xsmall: 0.85rem;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--background-dark500);
  color: var(--font-white);
  padding: 0.75rem 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.icon-btn {
  padding: 0.35em
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
