* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-dark500: #000;
  --background-dark400: rgba(45, 46, 51, 0.342);
  --dark-blue: #141c52;
  --dark-green: rgb(37, 154, 33);
  --light-grey: rgb(172, 172, 172);
  --border-dark: #2c2a2a;
  --font-white: #fff;

  --text-xsmall: 0.85rem;
  --text-medium: 1.1rem;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--background-dark500);
  color: var(--font-white);
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

img {
  height: 100%;
}

.icon-btn {
  padding: 0.35em
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
